html
  head
    link(href="/style/main.sass" rel="stylesheet" type="text/css")
  body
    h1 Page 1
    h2 Pidby example
    p
      span Today is 
      span#today
      span .
    script(src="/scripts/setupToday.ts" type="text/javascript")