<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style/main.sass" />
</head>

<body>
  <h1>
    Page 2
  </h1>
  <h2>
    Pidby example
  </h2>
  <p>
    The chosen layout is <%= layout %>.
  </p>
  <p>
  </p>
</body>

</html>